.footer {
  background-color: var(--footer-bg-color);
}
.logo-footer {
  filter: invert(93%) sepia(93%) saturate(0%) hue-rotate(305deg) brightness(107%) contrast(107%);
}
.counter {
  height: 31px;
  background: url(../assets/img/statistic.jpg) no-repeat center;
}
.studio-logo {
  width: 42px;
  height: 42px;
  background: url(../assets/img/studiologo.png) no-repeat center;
  background-size: cover;
}