@import 'css/variables.css';
@import 'css/header.css';
@import 'css/welcome.css';
@import 'css/about.css';
@import 'css/form.css';
@import 'css/production.css';
@import 'css/working.css';
@import 'css/price.css';
@import 'css/partners.css';
@import 'css/contacts.css';
@import 'css/footer.css';
@import 'css/modal.css';

.container-xxl {
  max-width: 1224px;
}
.row {
  position: relative;
}
.myBtn {
  border: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  background-color: var(--btn-bg-color);
  box-shadow: 0px 4px 8px 0px #00000026;
}
.myBtn::before {
  position: absolute;
  content: '';
  top: 50%;
  left: calc(50% + 3px);
  width: 2px;
  height: 10px;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #ffffff;
}
.myBtn::after {
  position: absolute;
  content: '';
  top: 50%;
  left: calc(50% - 3px);
  width: 2px;
  height: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #ffffff;
}